@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-root {
  width: 100vw;
  display: flex;
}

.main-root > aside {
  width: 15%;
  background: #1a1d20;
}

.main-root > .main-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 8vh;
}
header nav {
  width: 100%;
  height: 100%;
  box-shadow: 5px 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header nav .btn-toggle-header {
  cursor: pointer;
  z-index: 2;
  display: none;
  background-image: url("../../img/whiteIcon/menuOutline.png");
  width: 40px;
  height: 40px;
}
header nav h2 {
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;
  text-align: center;
}
header nav ul {
  width: 100%;
  display: flex;
  margin: 0;
  padding-right: 50px;
  list-style-type: none;
  justify-content: end;
}
header nav ul li {
  cursor: pointer;
  z-index: 10;
}

.main-root > aside {
  /*Main ASIDE UpSection*/
  /*Main ASIDE UpSection-down*/
  /*Main ASIDE-DOWN Section*/
}
.main-root > aside main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
}
.main-root > aside main > section {
  width: 100%;
}
.main-root > aside main > .aside-up-section {
  height: 30%;
  display: flex;
  flex-direction: column;
}
.main-root > aside main > .aside-down-section {
  display: flex;
  height: 70%;
  background-color: white;
}
.main-root > aside .aside-up-section > section {
  width: 100%;
  height: 50%;
}
.main-root > aside .aside-up-section > :first-child > section {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-root > aside .btn-aside-toggle {
  position: absolute;
  background-image: url("../../img/whiteIcon/collapse.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  right: 4px;
  top: 20px;
  cursor: pointer;
}
.main-root > aside main > .aside-up-section > :last-child {
  background-color: white;
  border-bottom: black solid 1px;
  position: relative;
  /*profile image*/
}
.main-root > aside main > .aside-up-section > :last-child div {
  position: absolute;
  top: -4vw;
  right: 0;
  left: 0;
  margin: auto;
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  background-color: rgb(9, 139, 169);
  z-index: 10;
  background-image: url("../../img/profile.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-root > aside main > .aside-up-section > :last-child h4 {
  font-size: 1em;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 2px;
  padding-left: 10px;
}
.main-root > aside main > .aside-up-section > :last-child h3 {
  padding-left: 15px;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2em;
}
.main-root > aside .aside-down-section section {
  padding-top: 20px;
  width: 100%;
  height: 120%;
  background-color: #eee;
}
.main-root > aside .aside-down-section section .accordion {
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
  border-bottom: rgba(0, 0, 0, 0.13) solid 0.5px;
}
.main-root > aside .aside-down-section section .active2, .main-root > aside .aside-down-section section .accordion:hover {
  background-color: rgba(150, 150, 150, 0.45);
}
.main-root > aside .aside-down-section section .accordion::after {
  content: "+";
  color: #ff2020;
  font-weight: bold;
  right: 10px;
  position: absolute;
}
.main-root > aside .aside-down-section section .active2:after {
  content: "−";
  font-weight: bold;
}
.main-root > aside .aside-down-section section .panel {
  display: none;
  background-color: #fdfdfd;
}
.main-root > aside .aside-down-section section .panel > button {
  margin: 0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: start;
  background-color: white;
  padding-left: 10px;
}
.main-root > aside .aside-down-section section .panel > button:hover {
  background-color: rgb(112, 160, 206) !important;
}
.main-root > aside .aside-down-section section .active3 {
  background-color: rgb(112, 160, 206) !important;
}

/*# sourceMappingURL=console.css.map */
