body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  color: white;
  height: 8vh;
  background: #1a1d20;

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      margin: 0;
      width: 40%;
      list-style-type: none;
      display: flex;


    }

    ul:first-child {
      justify-content: start;

      li {
        padding-right: 5%;
      }
    }

    ul:last-child {
      padding-left: 2%;
      justify-content: end;

      li {
        padding-right: 5%;
      }
    }
  }

}

main {
  display: flex;
  width: 100vw;
  flex-direction: column;

  main {
    width: 100%;
    display: flex;
    flex-direction: row;
  }


  /*  fragment 01*/
  main:nth-child(1) {
    height: 100px;
    align-items: center;
    box-shadow: 2px 0 2px black;
    background: #ffffff;

    div {
      padding-left: 5%;
    }

  }


}

/*  fragment 02*/
.fragment-02 {
  width: 100%;
  height: 50vh;
}

.fragment-02 > section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    background: #ffffff;
    width: 70%;
    display: flex;
    height: 70%;

    div {
      text-align: center;
      width: 100%;
      border: black solid 1px;
      flex-wrap: wrap;
    }
  }
}

/*  fragment 03*/

.fragment-03 {
  width: 100%;
  height: 25vh;
  display: flex;
}

.fragment-03 > section {
  width: 100%;
  display: flex;
  height: 100%;
}

.fragment-03 > section > section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.fragment-03 > section > section > :nth-child(1) {
  p, h4 {
    text-align: center;
  }
}

.fragment-03 > section > section > :nth-child(2) {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.fragment-03 > section > section > :nth-child(2) > section {
  width: 70%;
  height: 50px;
  display: flex;


  aside:nth-child(1) {
    width: 40%;
  }

  aside:nth-child(2) {
    width: 25%;
  }

  aside:nth-child(3) {
    width: 25%;
    height: 100%;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
    margin-left: 1px;
    position: relative;

    p {
      width: 100%;
      padding-top: 10px;
    }

    .option-body {
      display: none;
      position: absolute;
      background-color: white;
      width: 150%;
      margin-top: 10px;
      z-index: 100;
      padding-top: 5px;
      height: 250px;
      margin-left: -95px;
      box-shadow: 0 0 2px #070707;
      border-radius: 5px;
      flex-direction: column;

      section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          width: 50%;
          text-align: center;
          font-size: 1em;
        }

        aside {
          width: 49%;
          height: 45px;
          margin: 5px;
          display: flex;
          align-items: center;
          border: #312e2e solid 1px;
          border-radius: 5px;

          h3 {
            width: 50%;
            color: #15a5d3;
            text-align: center;
            cursor: pointer;
          }
        }
      }

    }
  }

  aside:nth-child(4) {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a58ca;
    cursor: pointer;

    p {
      text-align: center;
      margin: 0;
      font-weight: bold;
      color: white;
    }
  }
}

.fragment-04 {
  width: 100%;
  z-index: 1;

  section {
    width: 100%;
  }
}

.fragment-04 > section > section {
  display: flex;
  justify-content: center;

}

.fragment-04 > section > section > section {
  width: 80%;
  border: black solid 1px;
  height: 200px;
  overflow-x: scroll;

  section {
    width: 120%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(220, 234, 231, 0.7);

  }

  section > div {
    flex-grow: 1;
    height: 80%;
    margin-left: 2px;
    margin-right: 2px;
    background: #dd24e5;
    border: green solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  section > div > div {
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 20px;
      cursor: pointer;
      height: 20px;
      background: #3409de;

    }
  }


}

